@model Backend6.Models.CarBrand

@{
    ViewData["Title"] = "Выберите модель авто";
}

<h2>@ViewBag.Title</h2>
<h1>@Model.Name<small> @Model.Description</small></h1>
<p>
    <a asp-controller="CarBrands" asp-action="Index" asp-route-backId="" class="btn btn-default">Back</a>
</p>

<div class="row">
    @if (User.IsInRole(ApplicationRoles.Administrators))
    {
        <div class="col-xs-3 col-md-2">
            <p>Добавить модель</p>
            <a asp-action="Create" asp-controller="CarModels" asp-route-carBrandId="@ViewBag.CarBrandId" class="thumbnail new-image">
                <div>
                    + Upload
                </div>
            </a>
        </div>
    }
    @foreach (var item in Model.CarModels)
    {
        <div class="col-xs-3 col-md-2">
            <p>@item.Name</p>
            <a  asp-action="Details" asp-route-carModelId="@item.Id" class="thumbnail image">
                <img src="@item.ModelPath" alt="Image" />
            </a>
            @if (User.IsInRole(ApplicationRoles.Administrators))
            {
                <a asp-action="Edit" asp-controller="CarModels" asp-route-id="@item.Id">Edit</a> <text>|</text>
                <a asp-action="Delete" asp-controller="CarModels" asp-route-id="@item.Id">Delete</a>
            }
        </div>
    }
</div>