@model IEnumerable<Backend6.Models.CarBrand>

@{
    ViewData["Title"] = "Index";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    @if (User.IsInRole(ApplicationRoles.Administrators))
    {
        <div class="col-xs-3 col-md-2">
            <a asp-action="Create" class="thumbnail new-image">
                <div>
                    + Upload
                </div>
            </a>
        </div>
    }
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-md-3">
            <a asp-action="Details" asp-route-id="@item.Id" class="thumbnail image">
                <img src="@item.PathBrand" alt="Image" />

            </a>
        </div>
    }
</div>


@*<h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PathBrand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PathBrand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
